body {
	padding: 30px 30px;
	font: 13px/100% Helvetica, sans-serif;
	background: #FFFFFF;
	padding-bottom:300px;
}
iframe { width:100%; padding:0; border:0; height:180px; }
html, body{
	margin:0;  
	/*o objetivo disto é que nao apareça a barrinha p fazer scroll*/
}

/* não sei como se faz o header/footer*/
/* isto é temporário*/
h1,p{
   text-align: center;
	color: #999;
	background: #FFFFFF;

}
h2,p{
    text-align: center;
	color: #999;
	background: #FFFFFF;

}

/*form bonito*/
form{
	text-align: center;
	margin: 0 auto;
	background: #FFFFFF 
	padding-right: 67px;
	padding-left: 67px;
}
form, ul { list-style-type:none } /*pra n aparecer a bolinha nas ul*/


/*caixas de texto e botões bonitos*/

input { 
    margin-left: 0px; 
}

input, textarea{
	border: 1px solid #E5E5E5;
	outline: 0;
	font: normal 15px/150% Helvetica, sans-serif;

	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
	box-shadow: 0 0 8px rgba(0,0,0,.1);

	background: -webkit-linear-gradient(top, #EEE 0px, #FFF 25px);
	background: -moz-linear-gradient(top, #EEE 0px, #FFF 25px);
}

textarea {
	width: 420px;
	max-width: 400px;
	height: 180px;
}

input:hover, input:focus,
textarea:hover, textarea:focus {
	border-color: #C9C9C9;

	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
	box-shadow: 0 0 8px rgba(0,0,0,.15);
}

input[type=submit],button {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}


input[type=submit]:hover {
	background: #7387A6;
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.4);
}

select{
	padding: 5px 40px 5px 5px; 
	height:40px; 
	font-family: Helvetica, sans-serif;

	-webkit-appearance: none;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	
	cursor: pointer;
	border: 1px solid #CCC;
	color: #999;
	font-size: 90%;

}

select:hover, select:focus {
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	outline: 0;
	cursor: pointer;
	border: 1px solid #CCC;
	color: #999;
	font-size: 90%;

}