body {
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
  font:'Open Sans', sans-serif;
	text-align: center;
  background-image: url("knot.jpg");
  background-repeat: repeat
}

#profile{

	margin-top: 20em;
}

#footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*
#header{
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}*/

#tabs{
width: 50%;
margin: auto;
margin-top: 9em;
}
/*
#register{
	width: 300px;
  height: 240px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color:
}

#register,p{
  color: #ffffff;
}*/



/*#index,p{
  color: #ffffff;
}
#index {
	width: 200px;
  height:84px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#info{
width: 40%;
height:20%;
position: absolute;
top:0;
bottom: 60%;
left: 0;
right: 0;
margin: auto;
}
#info,p{
  color: #000000;
}
*/

/*input{
  width : 196px;
}*/

#button {
 padding: 15px 20px;
  width: 200px;
  height:42px;
  background: #333333;
  border-right: 4px solid #1b9bff;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

#button:hover {
 background: #1b9bff;
}


#voteContainer{
  color: #fff;
}
#voteContainer #question {
  display: block;
  padding: 20px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 40px;
}
#voteContainer div {
  font-weight: bold;
  letter-spacing: -3px;
  background: #0099cc;
    margin-bottom: 15px;
        padding: 10px;
        font-size: 34px;
        color: #ffffff;
        border-left: 20px solid #333;
        width: 400px;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0 0.5em 0.5em 0;
        border-radius: 0 1.5em 1.5em 0;
    }
    #voteContainer div a {
        border-radius: 0.3em;
        text-decoration: none;
        color: #0099cc;
        padding: 5px 15px;
        background: #333;
        margin: 0 20px;
    }
    #voteContainer div a:hover {
        color: #fff;
    }
