body {
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
  font:'Open Sans', sans-serif;
	text-align: center;
  background-image: url("knot.jpg");
  background-repeat: repeat;
}

#pollList {
    width: 12em;
    border-right: 1px solid #000;
    background-color: #101010;
    color: #333;
    text-align:left;
    list-style: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

#pollList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    }

#pollList li {
    border-bottom: 1px solid #101010;
    margin: 0;
    }

#pollList li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #080808;
    border-right: 10px solid #080808;
    background-color: #101010;
    color: #9d9d9d;
    text-decoration: none;
    width: 100%;
    }

html>body #pollList li a {
    width: auto;
    }

#pollList li a:hover {
    border-left: 10px solid #9d9d9d;
    border-right: 10px solid #9d9d9d;
    background-color: #101010;
    color: #fff;
    }
#profile{

	margin-top: 20em;
}

#footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#button {
 padding: 15px 20px;
  width: 200px;
  height:42px;
  background: #333333;
  border-right: 4px solid #1b9bff;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

#button:hover {
 background: #1b9bff;
}


#voteContainer{
  color: #000000;
}
#voteContainer #question {
  display: block;
  padding: 20px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 40px;
}
#voteContainer #bar{
  background: #0099cc;
        border-left: 20px solid #333;
        width: 0px;
				height:70px;
				font-size: 34px;
				color: #ffffff;
				font-weight: bold;
        -moz-border-radius: 0 0.5em 0.5em 0;
        border-radius: 0 1.5em 1.5em 0;
				z-index: 1;
				position: absolute;
				padding: 5px 15px;
    }
   #voteInfo a {
			padding: 10px;
			font-size: 34px;
			color: #ffffff;
			font-weight: bold;
			letter-spacing: -3px;
        border-radius: 0.3em;
        text-decoration: none;
        color: #0099cc;
        padding: 5px 15px;
        background: #333;
        margin: 0 20px;
    }
	#voteInfo {
			padding: 10px;
			font-size: 34px;
			color: #000000;
			font-weight: bold;
			letter-spacing: -3px;
			border-radius: 0.3em;
			text-decoration: none;
			padding: 5px 15px;
			margin: 0 20px;
			z-index: 2;
			position: absolute;
		}

		#voteBar {
			display: inline-flex;
			float: left;
		}

    #voteContainer #bar a:hover {
        color: #fff;
    }

#developed{
  background: #eee;
  opacity: 0.3;
}


#profileList {
    width: 100%;
    background-color: #101010;
    text-align:left;
    list-style: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }


#profileList li {
    border-bottom: 1px solid #101010;
    margin: 0;
    display: block;
    padding: 5px 5px 5px 0.5em;
    background-color: #101010;
    color: #9d9d9d;
    text-decoration: none;
    width: 100%;
    }
#profileList button{
  float: right;
}



html>body #profileList li a {
    width: auto;
    }